* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}


body {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(135deg, #4facfe, #0066cc);
}


.container {
width: 900px;
height: 520px;
display: flex;
border-radius: 12px;
overflow: hidden;
background: #fff;
box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}


.left {
  flex: 1;
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
              url('campus.jpg') center/cover no-repeat;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* horizontal center */
  text-align: center;
}


.left-center {
  margin-bottom: 15px;
}

.left-center .osas {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.left-center .office {
  font-size: 15px;
  letter-spacing: 1.0px;
  opacity: 0.9;
  margin-top: 15px  ;
}


.right {
flex: 1;
background: linear-gradient(180deg, #6b7cff, #0a1a5e);
display: flex;
align-items: center;
justify-content: center;
position: static;
}


.login-box {
  width: 320px;
  background: #fff;
  border-radius: 10px;
  padding: 25px 25px 50px; /* extra space at bottom */
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  position: relative;
}


.login-box input {
width: 100%;
padding: 12px;
margin-bottom: 12px;
border-radius: 6px;
border: none;
background: #f0f0f0;
font-size: 14px;
}


.login-box a {
font-size: 12px;
color: #3b5bff;
text-decoration: none;
display: inline-block;
margin-bottom: 15px;
}


.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-bottom: 12px;
  background: #0d5fc4;
}

.btn.register {
  background: #0d5fc4;
  color: #161616;
}


.login-footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #000000;
  letter-spacing: 1px;
  opacity: 0.8;
}                   

@media (max-width: 900px) {
.container {
flex-direction: column;
width: 90%;
height: auto;
}


.left {
height: 200px;
}
}